.content_container{
padding: 0 2rem;
width: 100%!important;

    .header{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        .filtre{
            display: flex;
            gap: 1rem
        }
    }
}