.navbar {
    background: #fff;

    .container{
        display: flex;
        justify-content: space-between;
        padding: .5rem 3rem;

        
        .left_nav{
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .subMenu_icon .sub_ico{
                display: none;
                width: 35px;
                height: 35px;
            }

            .navbar_brand{
                max-width: 3.5rem;

                img{
                    width: 100%;
                }
            }

            .search_container{
                max-width: 100%;

                .search{
                    width: 170%;
                    padding: .7rem;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    outline: none;
                }
            }

            .subMenu{
                position: fixed;
                margin: 0;
                top: 0;
                left: 0;
                width: 250px;
                height: 100vh;
                background: #fff;
                padding: 15px;
                overflow-y: scroll;
                transform: translateX(-290px);
                transition: .4s all ease-in-out;

                .subHeader{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                }

                nav {
                    margin-top: 25px;

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;

                        .subMenu_social{
                            display: flex;
                            gap: 25px;

                             .social-icon{
                                width: 20px;
                                height: 20px;
                                color: rgb(116, 113, 113);
                            }
                        }
                    }
                }
            }

            .subMenu.open{
                transform: translateX(0);
            }
        }

        .right_nav{
            float: right;
           
            ul{
                display: flex;
                gap: 1.2rem;
                align-items: baseline;

                &:nth-child(1){
                    button{
                        padding: .7rem;
                        background: rgb(79, 79, 236);
                        color: #fff;
                        border-radius: .3rem;
                        border: none;
                        cursor: pointer;
                        transition: background .4s;

                        &:hover{
                            background: blue;
                        }
                    }
                }

               .icon_container{
                padding: .7em;
                border-radius: 50%;
                cursor: pointer;
                transition: background .4s;

                &:hover{
                    background: #ccc;
                }
               }

                &:last-child{
                    align-items: center;

                    .user{
                        position: relative;
                        max-width: 3rem;
                        border-radius: 50%;

                        img{
                            width: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                            padding: 4px;

                            &:hover{
                                background: #ccc;
                            }
                        }

                        .user-subMenu{
                            position: absolute;
                            background-color: #fff;
                            border: 3px solid #000;
                            border-radius: 5px;
                            width: 240px;
                            right: 0;
                            padding: 3px;
                            box-shadow: 7px 5px 3px #000;

                            ul{
                                display: flex;
                                flex-direction: column;
                                gap: .2px;

                                li{
                                    width: 100%;
                                    padding: 10px;
                                    cursor: pointer;
                                    text-align: left;

                                    &:nth-child(1){
                                        padding-bottom: 15px;
                                        border-bottom: 2px solid #ccc;


                                        div{
                                            display: flex;
                                            flex-direction: column;
                                            gap: 5px;
                                            width: 100%;

                                            .name{
                                                font-weight: bold;
                                            }
                                            .slug{
                                                color: #ccc;
                                            }
                                        }
                                    }

                                    &:last-child{
                                        border-top: 2px solid #ccc;
                                        padding-top: 20px;
                                    }

                                    &:hover{
                                        background: #ccc
                                    }


                                }

                                hr{
                                    color: #000;
                                    height: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}