.rightside_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    section{
        padding: .8rem;
        background-color: #fff;
        color: #080f08;
        border-radius: .4rem;
        height: auto;

        h1{
            margin: .5rem .6rem;
        }

        img{
            width: 100%;
            height: 40%;
            border-radius: .5rem;
        }
    }

    .listings{
        .title_section{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        article{
            padding: .8rem 0px;
            border-bottom: 1px solid #ccc;

            &:hover{
                background: #ccc;
            }

            a{
                display: flex;
                flex-direction: column;
                color: #080f08;
                gap: .6rem;

                span{
                    color: rgba(0,0,0,0.7)
                }
            }
        }
    }

    
    article{
        padding: .8rem 0px;
        border-bottom: 1px solid #ccc;

        &:hover{
            background: #ccc;
        }

        a{
            display: flex;
            flex-direction: column;
            color: #080f08;
            gap: .6rem;

            span{
                color: rgba(0,0,0,0.7)
            }

            em{
                padding: .3rem;
                border-radius: .3rem;
                background-color: rgb(80, 80, 199);
                width: fit-content;
                color: #fff;
            }
        }
    }
}